/*$primarycolor: #79B55B;*/
body {
  color: black;
  background-color: white;
  font-size: 16px; }

h1 {
  font-size: 44px;
  color: #4a7535; }

.calculator {
  margin-top: 10px; }

.calculator-text {
  color: black;
  font-weight: normal; }

.calculator-success {
  color: #4a7535; }

.calculator-failure {
  color: red; }

input[type=button], input[type=submit], .buttonstyle {
  text-align: center;
  background-color: #4a7535;
  color: white;
  border-radius: 14px;
  margin-left: 5px;
  min-width: 150px;
  border: 1px solid white; }
  input[type=button]:hover, input[type=submit]:hover, .buttonstyle:hover {
    background-color: white;
    color: #4a7535;
    text-decoration: none;
    border: 1px solid #4a7535;
    outline-color: #4a7535; }

.tutorial {
  margin: 10px 0px;
  /*border: 1px solid $primarycolor;*/
  transition: height 2s;
  transition-timing-function: ease-in-out; }

.tutorial-content {
  padding: 10px 10px;
  border: 1px solid #4a7535; }

